(use-modules (gnu)
             (gnu services ssh)
	     (gnu services samba)
             (nongnu packages linux)
             (nongnu system linux-initrd)
	     (dude srvcs workstation)
             (dude pkgs linux))

(operating-system
  (kernel dude-linux-git)
  (initrd microcode-initrd)
  (firmware (list linux-firmware))
  (host-name "home")
  (timezone "Europe/Moscow")
  (locale "en_US.utf8")

  (bootloader (bootloader-configuration
               (bootloader grub-bootloader)
               (targets '("/dev/sda"))))

  (file-systems (cons (file-system
			(device (file-system-label "my-root"))
			(mount-point "/")
			(type "ext4"))
                      %base-file-systems))

  (users (cons (user-account
                (name "user")
                (comment "undefined")
                (group "users")
                (supplementary-groups '("wheel" "netdev"
                                        "audio" "video")))
               %base-user-accounts))

  (packages (append
	     %dude-workstation-packages
	     (map (compose list specification->package+output)
		  '("emacs-stuff"))))
  (services (cons*
             (service openssh-service-type)
	     (service samba-service-type
                      (samba-configuration
                       (enable-smbd? #t)
                       (config-file (local-file "services/smb.conf"))))
             %dude-workstation-services))

  (name-service-switch %mdns-host-lookup-nss))
